<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>IndoNav Home Page</h1>
        <br>
        <a href="C:\Users\Vani sathhvika\OneDrive\Desktop\IndoNav-master\templates\index.html">
        <input type="button" name="floor1" value="Floor1">
        </a>
        <br>
        <input type="button" name="floor2" value="Floor2">
        <br>
        <input type="button" name="floor3" value="Floor3">
        <br>

    </div>
</body>
</html>